.background {
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.board {
  background:rgba(255, 255, 255);
  width: 50vw;
  height: 450px;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px #888888;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  }

  
.board >img{
    width: 40%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

  }



.loginform {
  background:rgba(255,255,255, 0);
  width:80%;
  height: 50vh;
  margin-left: 50px;
  margin-right:50px;
  border-radius: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.signintitle {
  text-align: left;
  font-size: 30px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'Fira Sans', Ubuntu, Oxygen, 'Oxygen Sans', Cantarell, 'Droid Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Lucida Grande', Helvetica, Arial, sans-serif;
  color: black;
  margin-bottom: 40px;
}



.loginform_2 {
  background:rgba(255,255,255, 0);
  /* background-color: white; */
  /* padding: 20px; */
  width: 100%;
  display:flex;
  justify-content: left;
  flex-direction: column;
}
.label {
  display: block;
  font-size: 18px;
  margin-bottom: 10px;
  text-align: left;
}

.inputbar {
  background:rgba(234,167,197,0.3);
  width: 96%;
  /* max-width: 300px; */
  padding: 10px;
  margin-bottom: 20px;
  margin-right: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 5px 0px #888888;
  background-repeat: no-repeat;
  background-position: right 10px center;
}

.buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top:50px;
}

.loginbutton {

  width: 100px;
  height: 40px;
  /* transform: translate(-40px, 0px); */
  background-color: pink;
  border-width: 0;
  margin-right: 10px; 
  /* padding-right: 100px; */
}

.signupbutton {
  width: 100px;
  height: 40px;
  /* transform: translate(-40px, 0px); */
  background-color: white;
  border-width: 1;
  border-color: pink;
  margin-left: 10px; 
}


a {
  color: blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
